.Comic-options-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .Comic-option-button {
    padding: 0.5rem;
    border-radius: 25px;
    background: transparent;
    border: 1px solid #1F1B24;
    color: #1d1d1d;
    background-color: #f1f1f1;
    margin: 3px;
  }